In [158]:
import pandas as pd
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
from plotly import graph_objects
import streamlit as st

In [159]:
pd.__version__

'2.1.0'

In [160]:
np.__version__

'1.25.2'

In [161]:
plt.__file__

'C:\\Users\\McLovin\\miniconda3\\envs\\spyder_env\\Lib\\site-packages\\matplotlib\\pyplot.py'

In [162]:
st.__version__

'1.27.1'

In [163]:
model.__getstate__()['_sklearn_version']

'1.3.0'

In [164]:
st.text('Fixed width text')
st.markdown('_Markdown_') # see #*
st.caption('Balloons. Hundreds of them...')
st.latex(r''' e^{i\pi} + 1 = 0 ''')
st.write('Most objects') # df, err, func, keras!
st.write(['st', 'is <', 3]) # see *
st.title('My title')
st.header('My header')
st.subheader('My sub')
st.code('for i in range(8): foo()')

# * optional kwarg unsafe_allow_html = True

DeltaGenerator()

## Import data

In [165]:
# Import Data
health_data = pd.read_csv("New Data/oura_2019-01-01_2023-09-09_trends_Original.csv")

## View data

In [166]:
health_data

           date  Sleep Score  ...  HRV Balance Score  Recovery Index Score
0    2021-01-13         83.0  ...                NaN                  99.0
1    2021-01-14         76.0  ...                NaN                  69.0
2    2021-01-15         78.0  ...                NaN                  96.0
3    2021-01-16         69.0  ...                NaN                  51.0
4    2021-01-17         78.0  ...                NaN                  50.0
..          ...          ...  ...                ...                   ...
965  2023-07-22          NaN  ...                NaN                   NaN
966  2023-07-29          NaN  ...                NaN                   NaN
967  2023-07-31          NaN  ...                NaN                   NaN
968  2023-08-07          NaN  ...                NaN                   NaN
969  2023-09-05          NaN  ...                NaN                   NaN

[970 rows x 54 columns]

## Describe Data

In [167]:
# Attribute
health_data.dtypes

date                            object
Sleep Score                    float64
Total Sleep Score              float64
REM Sleep Score                float64
Deep Sleep Score               float64
Sleep Efficiency Score         float64
Restfulness Score              float64
Sleep Latency Score            float64
Sleep Timin Score              float64
Total Sleep Duration           float64
Total Bedtime                  float64
Awake Time                     float64
REM Sleep Duration             float64
Light Sleep Duration           float64
Deep Sleep Duration            float64
Restless Sleep                 float64
Sleep Efficiency               float64
Sleep Latency                  float64
Sleep Timing                   float64
Bedtime Start                   object
Bedtime End                     object
Average Resting Heart Rate     float64
Lowest Resting Heart Rate      float64
Average HRV                    float64
Temperature Deviation (°C)     float64
Temperature Trend Deviation    float64
Respiratory Rate               float64
Activity Score                   int64
Stay Active Score              float64
Move Every Hour Score          float64
Meet Daily Targets Score       float64
Training Frequency Score       float64
Training Volume Score          float64
Activity Burn                    int64
Total Burn                       int64
Steps                            int64
Equivalent Walking Distance      int64
Inactive Time                    int64
Rest Time                        int64
Low Activity Time                int64
Medium Activity Time             int64
High Activity Time               int64
Non-wear Time                    int64
Average MET                    float64
Long Periods of Inactivity       int64
Readiness Score                float64
Previous Night Score           float64
Sleep Balance Score            float64
Previous Day Activity Score    float64
Activity Balance Score         float64
Temperature Score              float64
Resting Heart Rate Score       float64
HRV Balance Score              float64
Recovery Index Score           float64
dtype: object

## Set up dataframe

In [168]:
df = pd.DataFrame(health_data)

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 54 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         970 non-null    object
 1   Sleep Score                  898 non-null    float64
 2   Total Sleep Score            898 non-null    float64
 3   REM Sleep Score              898 non-null    float64
 4   Deep Sleep Score             898 non-null    float64
 5   Sleep Efficiency Score       898 non-null    float64
 6   Restfulness Score            898 non-null    float64
 7   Sleep Latency Score          898 non-null    float64
 8   Sleep Timin Score            898 non-null    float64
 9   Total Sleep Duration         896 non-null    float64
 10  Total Bedtime                896 non-null    float64
 11  Awake Time                   896 non-null    float64
 12  REM Sleep Duration           896 non-null    float64
 13  Light Sleep Duration         896 non-null    float64
 14  Deep Sleep Duration          896 non-null    float64
 15  Restless Sleep               896 non-null    float64
 16  Sleep Efficiency             896 non-null    float64
 17  Sleep Latency                896 non-null    float64
 18  Sleep Timing                 896 non-null    float64
 19  Bedtime Start                896 non-null    object
 20  Bedtime End                  896 non-null    object
 21  Average Resting Heart Rate   895 non-null    float64
 22  Lowest Resting Heart Rate    895 non-null    float64
 23  Average HRV                  895 non-null    float64
 24  Temperature Deviation (°C)   883 non-null    float64
 25  Temperature Trend Deviation  866 non-null    float64
 26  Respiratory Rate             896 non-null    float64
 27  Activity Score               970 non-null    int64
 28  Stay Active Score            968 non-null    float64
 29  Move Every Hour Score        968 non-null    float64
 30  Meet Daily Targets Score     968 non-null    float64
 31  Training Frequency Score     968 non-null    float64
 32  Training Volume Score        968 non-null    float64
 33  Activity Burn                970 non-null    int64
 34  Total Burn                   970 non-null    int64
 35  Steps                        970 non-null    int64
 36  Equivalent Walking Distance  970 non-null    int64
 37  Inactive Time                970 non-null    int64
 38  Rest Time                    970 non-null    int64
 39  Low Activity Time            970 non-null    int64
 40  Medium Activity Time         970 non-null    int64
 41  High Activity Time           970 non-null    int64
 42  Non-wear Time                970 non-null    int64
 43  Average MET                  970 non-null    float64
 44  Long Periods of Inactivity   970 non-null    int64
 45  Readiness Score              898 non-null    float64
 46  Previous Night Score         888 non-null    float64
 47  Sleep Balance Score          892 non-null    float64
 48  Previous Day Activity Score  881 non-null    float64
 49  Activity Balance Score       887 non-null    float64
 50  Temperature Score            895 non-null    float64
 51  Resting Heart Rate Score     898 non-null    float64
 52  HRV Balance Score            887 non-null    float64
 53  Recovery Index Score         898 non-null    float64
dtypes: float64(39), int64(12), object(3)
memory usage: 409.3+ KB

## Convert Sleep Duration and Rest Time to hours

In [170]:
df["Total Sleep Duration"] = df["Total Sleep Duration"] / 3600
df["Rest Time"] = df["Rest Time"] / 3600

df["Total Sleep Duration"], df["Rest Time"]

(0      7.083333
 1      6.316667
 2      6.600000
 3      6.441667
 4      6.683333
          ...
 965         NaN
 966         NaN
 967         NaN
 968         NaN
 969         NaN
 Name: Total Sleep Duration, Length: 970, dtype: float64,
 0       7.833333
 1       3.666667
 2       6.066667
 3       9.733333
 4      10.150000
          ...
 965     5.783333
 966     5.750000
 967     6.383333
 968     6.150000
 969     1.216667
 Name: Rest Time, Length: 970, dtype: float64)

In [171]:
pd.crosstab(df["Total Sleep Duration"] > 7, df["Readiness Score"] >85)

Readiness Score       False  True
Total Sleep Duration
False                   493     47
True                    279    151

In [ ]:
df["Readiness Score"].hist(figsize=(10, 10))

## Manipulating Data

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.info()

In [ ]:
# Randomize data 1 = 100%
df.sample(frac=1)

In [ ]:
# Reset index if necessary
# df.reset_index(drop=True, inplace=True)

## Matplotlib flow

In [ ]:
# 1. Prepare data
x = df["Total Sleep Duration"]
y = df["Readiness Score"]

# 2. Setup plot
fig, ax = plt.subplots(figsize=(10, 10))

# 3. Plot data
ax.scatter(x,y)

# 4. Customize plot
ax.set(title="Simple Plot", 
       xlabel="Total Sleep Duration",
       ylabel="Readiness Score")

# 5. Save and show (you save the whole figure)
# fig.savefig("C:/Users/McLovin/OneDrive/Desktop/Capstone/New Data/Images/Figure_1.png")

In [ ]:
# 1. Prepare data
x = df["Previous Night Score"]
y = df["Readiness Score"]

# 2. Setup plot
fig, ax = plt.subplots(figsize=(10, 10))

# 3. Plot data
ax.scatter(x,y)

# 4. Customize plot
ax.set(title="Simple Plot", 
       xlabel="Previous Night Score",
       ylabel="Readiness Score")

# 5. Save and show (you save the whole figure)
# fig.savefig("C:/Users/McLovin/OneDrive/Desktop/Capstone/New Data/Images/Figure_2.png")

In [ ]:
# 1. Prepare data
x = df["Move Every Hour Score"]
y = df["Readiness Score"]

# 2. Setup plot
fig, ax = plt.subplots(figsize=(10, 10))

# 3. Plot data
ax.scatter(x,y)

# 4. Customize plot
ax.set(title="Simple Plot", 
       xlabel="Move Every Hour Score",
       ylabel="Readiness Score")

# 5. Save and show (you save the whole figure)
# fig.savefig("C:/Users/McLovin/OneDrive/Desktop/Capstone/New Data/Images/Figure_1.png")

In [ ]:
# 1. Prepare data
x = df["Non-wear Time"]
y = df["Readiness Score"]

# 2. Setup plot
fig, ax = plt.subplots(figsize=(10, 10))

# 3. Plot data
ax.scatter(x,y)

# 4. Customize plot
ax.set(title="Simple Plot", 
       xlabel="Non-wear Time",
       ylabel="Readiness Score")

# 5. Save and show (you save the whole figure)
# fig.savefig("C:/Users/McLovin/OneDrive/Desktop/Capstone/New Data/Images/Figure_1.png")

In [ ]:
# 1. Prepare data
x = df["Rest Time"]
y = df["Readiness Score"]

# 2. Setup plot
fig, ax = plt.subplots(figsize=(10, 10))

# 3. Plot data
ax.scatter(x,y)

# 4. Customize plot
ax.set(title="Simple Plot", 
       xlabel="Rest Time",
       ylabel="Readiness Score")

# 5. Save and show (you save the whole figure)
# fig.savefig("C:/Users/McLovin/OneDrive/Desktop/Capstone/New Data/Images/Figure_1.png")

In [ ]:
# 1. Prepare data
x = df["Previous Day Activity Score"]
y = df["Readiness Score"]

# 2. Setup plot
fig, ax = plt.subplots(figsize=(10, 10))

# 3. Plot data
ax.scatter(x,y)

# 4. Customize plot
ax.set(title="Simple Plot", 
       xlabel="Previous Day Activity Score",
       ylabel="Readiness Score")

# 5. Save and show (you save the whole figure)
# fig.savefig("C:/Users/McLovin/OneDrive/Desktop/Capstone/New Data/Images/Figure_2.png")

## Remove data columns that are lagging data fields or not necessary

In [ ]:
df.drop(df.columns[[0,1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,46,47,48,49,53]], axis=1, inplace=True)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# Average Readiness Score
df["Readiness Score"].mean()

In [ ]:
len(df)

## Algorithm/Estimator

In [ ]:
# Import algorithm/estimator

# Instantiate and fit the model (on the training set)
# Try RandomForest estimator


from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

# Setup random seed
np.random.seed(42)

# Create the data
df.dropna(inplace=True)
X = df.drop("Readiness Score", axis=1)
y = df["Readiness Score"] #target

# Split into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
model.get_params()

In [ ]:
model.fit(X_train, y_train);

In [ ]:
y_preds = model.predict(X_test)

In [ ]:
model.score(X_test, y_test)

In [ ]:
# Try Ridge Regression

from sklearn.linear_model import Ridge

model = Ridge()
model.fit(X_train, y_train)

# Check the score of the model (on the test set)
model.score(X_test, y_test)

In [ ]:
model.get_params()

In [ ]:
from sklearn import linear_model
model = linear_model.LassoLars(alpha=1.0)
model.fit(X_train, y_train)

# Check the score of the model (on the test set)
model.score(X_test, y_test)

## Make Predictions Using Machine Language Model

In [ ]:
test_data = pd.read_csv("New Data/oura_2023-09-17_2023-09-17_trends.csv")

In [ ]:
test_data.drop(test_data.columns[[0,1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,46,47,48,49,53]], axis=1, inplace=True)
test_data.info()

In [ ]:
## Remove Readiness Score
test_data.drop(test_data.columns[2], axis=1, inplace=True)
test_data.info()

In [ ]:
test_data.info()

In [ ]:
## Convert Total Sleep Duration to hours
test_data["Total Sleep Duration"] = test_data["Total Sleep Duration"] / 3600

In [ ]:
sleep_hours_pred = float(input("How many hours of planned sleep? "))
print(sleep_hours_pred)

In [ ]:
test_data

In [ ]:
test_data["Total Sleep Duration"] = sleep_hours_pred
test_data

In [ ]:
model.predict(test_data)

In [ ]:
!jupyter nbconvert --to script Capstone.ipynb
with open('Capstone.py', 'r') as f:
    lines = f.readlines()
with open('Capstone.py', 'w') as f:
    for line in lines:
        if 'nbconvert --to script' in line:
            break
        else:
            f.write(line)